<div class="container">
<ul>
<% @items.each do |item| %>
  <li><%= item.name %></li>
  <% unless item.options.empty? %>
    <ul class="options">
    <% item.options.each do |opt| %>
      <li><%= opt.name %> - <%= opt.price %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
</ul>
</div>
