<!DOCTYPE html>
<html>
<head>
  <title>Railsunittest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <h1 class="title"><a href="/">The Coffee Tree Menu</a></h1>
  </header>
  
  <%= yield %>

</div>
</body>
</html>
